<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
</head>
<body>
<a href = ././public/form.html>Calculate More</a>
    <h1>Postal Rate Calculator - Here's Your Total!</h1>	

	<h1>Total Cost: $ <%=Total.toFixed(2)%></h1>
	<h1>You are Awesome, don't let anyone tell you different!</h1>
</body>
</html>